#ArtistDir{
	margin: 0 auto;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	width: 40%;
	border:1px solid grey;
	border-radius: 10px;
	
}

#searchBar{
	 width: 80%;
	 float: left;
}

#ArtistInfo{
	margin: 0 auto;
	width: 30%;
	border:1px solid grey;
	height: 90px;
	padding-top: 10px;
	padding-right: 10px;
}

#ArtistInfo:hover{
	background-color: grey;
	opacity: 0.5;
}

img{
   padding-bottom: 10px; 
   padding-left: 10px; 
   padding-right: 10px; 
   float: left;
}

#ArtistName{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 25px;
	font-family: "Arial";
}

#ArtistSchool{
	margin-top: 0;
    font-size: 15px;
	font-family: "Courier New";
}

#ArtistAdd{
    font-size: 11px;
    background-color:lightgray;
    border-radius: 4px;
	float: right;
}

#deleteBtn{
    float: right;
    background: red;
    border: red;
    border-radius: 4px;
    color: white;
}

#InfoInputForm{
    margin: 0 auto; 
    width:30%;
    border: 1px solid #ccc;
    border-radius: 5px;
	padding: 10px;
    font-size: 30px;
	text-align: center;
}

#InfoInputText{
	color: grey;
    font-size: 15px;
	width: 80%;
}

#addBtn{
    width: 60%;
    font-size: 11px;
    background-color:lightgray;
    border-radius: 4px;